@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital,wght@0,400;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {

    background-color: #fefef9;

    font-size: var(--font-size-sm);
    color: var(--black-black);
    font-family: var(--font-abeezee);
  }

  html,
body {

  overflow-x: hidden;
}
  :root {
    /* fonts */
    --font-abeezee: ABeeZee;
  
    /* font sizes */
    --font-size-xs: 12.68px;
    --font-size-sm: 16px;
    --font-size-base: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 21.13px;
    --font-size-2xl: 24px;
    --font-size-3xl: 34px;
    --font-size-4xl: 54px;
  
    /* Colors */
    --yellowish-white: #f5f1ea;
    --black-black-00: #1a1a1a;
    --black-black: #0a0f0d;
    --color-gray-400: rgba(255, 255, 255, 0.8);
    --color-gray-500: rgba(0, 0, 0, 0.5);
    --black-black-80: rgba(10, 15, 13, 0.8);
    --white-white: #fff;
    --green: #ebffdb;
    --color-black: #000;
    --blue: #c5b6f0;
  
    /* Paddings */
    --padding-xs: 10.567164421081543px;
    --padding-sm: 12px;
    --padding-md: 16.90746307373047px;
    --padding-lg: 24px;
  
    /* border radiuses */
    --br-sm: 6.34px;
    --br-md: 8.45px;
    --br-lg: 14px;
  }





header{

margin: 0 40px 0 40px;


}
nav{
 /* display: flex; */
/* width: 441px;
height: 40px;  */
display: flex;
justify-content: space-between;
align-items: center;

}

li{
/* padding-left: 44px; */

list-style: none;
padding-top: 20px;
}
a{
 text-decoration: none;
 color: var(--black-black-80);

 font-size: var(--font-size-sm);
}

svg{
 /* padding-top: 1px; */
 width: 60.8px;
height: 97.64px;

}

.button{
  position: relative;
  top: -12px;

    border-radius: 6px;
    background-color: var(--white-white);
    border: 1px solid var(--color-gray-500);
  
    padding: var(--padding-sm) var(--padding-lg);
  
}
main{
    display: flex;
flex-direction: row;
}
.image{
    position: absolute;
right: 300px;
top: -30px;
    height: 840px;

   
}
.image2{
    position: relative;

    left: -40px;

    object-fit: cover;
    width: 960px;
    height: 549px;
}
.image4{


  object-fit: cover;
  width: 200px;
  height: 49px;
}

.main{
  
position: relative;
right: 170px;

  

    font-size: var(--font-size-base);
    color: var(--black-black-80);
   
}
.kigaliHacksHack {
    padding-top: 60px;
    padding-bottom: 20px;

    width: 504px;
    font-size: 64px;
    line-height: 64px;
    color: var(--black-black);
  }

  .joinUs{
    line-height: 32px;
    display: inline-block;
    width: 460px;
  }

  .inputs{
    position: relative;
    top: 40px;
    width: 440px;
    height: 66px;
  }

  input{
 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--green);
    border: 1px solid var(--black-black-80);
    box-sizing: border-box;
    width: 400px;
    
    line-height: 16px;
    height: 66px;
  }
 
 
  .sponsors{
    margin:40px 0 20px 0px ;
padding: 20px;
    text-align: center;
    font-size: var(--font-size-2xl);
  }
  

  .sponsors2{
    margin:0px 0 20px 0px ;
    line-height: 24px;

  }

  .faqSection {

 


  
    padding: 60px;

    background-color: var(--black-black);



    font-size: var(--font-size-3xl);
    color: var(--white-white);

  }

.faqs {

  font-size:  var(--font-size-4xl);

  
}



.div {
  background-color: var(--black-black-00);
  border: 1px solid var(--white-white);
  box-sizing: border-box;
padding: 6px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);


}


.iNeedHelp {
  padding: 10px ;
 
  font-size: var(--font-size-2xl);
  color: var(--white-white);


}

.wereSorryYouContainer {
padding: 20px;
  width: 598.48px;

}
.here {
  color: var(--blue);
}
.fqa{

margin-left: 20px;

 display: grid;
  grid-template-columns: 1fr 1fr ;

  grid-gap: 10px 10px;
  align-items: center;
  justify-content: center
}

footer{

  background-color: var(--green);

padding: 20px;
 

  color: var(--black-black-80);
}



.copyright{

  text-align: left;
}


/* /tablet and mobile */
 @media (max-width: 1023px) {
  .fqa{

    margin-left: 20px;
    
     display: grid;
      grid-template-columns: 1fr;
    
      grid-gap: 10px;
    
      justify-content: center
    }

    main{
      padding: 20px ;   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  }
  .main{
  
    right: -70px;

  }


  .iNeedHelp {
    padding: 10px ;
   
    font-size: var(--font-size-2xl);
    color: var(--white-white);
  
  
  }
  
  .wereSorryYouContainer {
  padding: 20px;
    width: auto;
  
  }
  .joinUs {
width: 340px;

} 

input{
 
  width: 320px;
 
  
}


.image2{

  width: 460px;

}
 }
 
 /** SMALLER MOBILES**/
 /**TMG**/
 @media (max-width: 360px){
  body{
    padding: 0;
  }
  main{
    padding: 0px !important;
  }
  .main{
    margin-right: 15px !important;
  }
  .image2{
    width: 360px;
    margin-left:70px !important;
  }
  .image{
    float: right !important;
  }
  .kigaliHacksHack{
    width: 355px !important;
  }

   .inputs{
    margin-left: 5px !important;
    margin-right: 10px !important;
  }
  .faqSection{
    padding: 0px !important;
    align-items: center;
  }
  .fqa{
    margin: 0px;
  }
  .faqs{
    margin-left: 30%!important;
  }
  .fqa .div{
    width: 350px;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
 }
